// Specific CSS for your home-page
nav{
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 30px;
}


header{
    height: 30vh;
    h1{
        font-size: 50px;
        text-align: center;
    }
}


.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card{
        border: 1px solid grey;
        width: 22%;
        min-width: 250px;
        height: 400px;
        margin: 10px;


        header{
       
            height: 250px;
            background-repeat: round;

            h3{
                width: 95%;
                margin-top: 25px;
                font-size: 1.3rem;
                padding: 4px;
                padding-left: 13px;
                font-weight: 900;
              
                background: linear-gradient(90deg, rgb(255, 221, 71) 2.02%, rgb(255, 221, 71) 12.49%, rgba(255, 255, 255, 0) 12.5%);
            }

            mark{
                background-color:  rgb(255, 221, 71);
                padding: 2px 0px;
                box-shadow: 7px 0px 0px rgb(255, 221, 71);
                
            }
        }

        main{
            padding: 7.5px;
            font-size: 0.7rem;
            line-height: 1.2;

            h4{
            font-weight: 900;
            font-size: 1rem;
            font-style: italic;;

            }
            
        }
    }

    &.stars{
        justify-content: space-between;
    }

    .card-stars{
        border: none;
        width: 25vw;
        header{
            background-color: grey;
        }
    }
}
