<div style="margin-top: 18vh !important" class="container mt-5">

    <h2>Faites de la science… à la maison</h2><br>

    <p>
    Comme la plupart des manifestations de l’année 2020, la 29e édition de la Fête de la science se déroule dans un contexte inédit : la pandémie de Covid-19 interdit les rassemblements importants alors même que la Fête de la science est une célébration collective de la science. Dans le même temps, cette année a mis en lumière notre besoin de science pour répondre aux défis de la société, qu’il s’agisse de santé, d’énergie, ou d’environnement.
    </p>
    <p>
    Dans cette situation particulière, la Fête de la science se réinvente et propose pour la première fois, au cœur de la manifestation, une programmation virtuelle tournée vers le grand public. 
    </p>
    <p>
    <p>
    Le programme 100% numérique de la région Auvergne-Rhône-Alpes est accessible grâce à ce portail. Il regroupe les visites virtuelles, les conférences live, les podcast, les jeux, etc. : tout un éventail de formats et de supports permettant de pallier la difficulté de se rassembler. Au total, une soixantaine d’événements vous sont proposés en ligne !
    </p>
    <p>
    <b>Cliquez sur les vignettes pour les découvrir, répondez au Quiz, faites le plein de nouvelles connaissances et laissez-vous emportez par l’esprit de curiosité et de convivialité pour une Fête de la science… à la maison.</b><p>
    <p>Et malgré l'épidémie, la Fête de la science a tenu à conserver une programmation en présentiel pour accueillir physiquement les visiteurs, avec toutes les précautions sanitaires nécessaires. <a href="https://www.fetedelascience-aura.com/"> Retrouvez la totalité des événements organisés dans 200 communes d’Auvergne-Rhône-Alpes. </a>
    </p>
    <br><br>
    <b>Bonne Fête de la science !</b>
</div>

<br><br><br><br><br><br>