<nav>
Fête de la science - Régions Rhône Alpe - blabla
</nav>



<div class="container mt-5 mb-5">

<header>
    <h1>Fête de la Science</h1>
</header>


<h2>Projet à la une</h2>
<div class="card-container stars">
    <div class="card-stars">
            <header>
           
            </header>
             <h3>Titre Event</h3>
            <h4> Nom de la structure </h4>
            <div class> synopsys </div>
    </div>

    <div class="card-stars">
            <header>
            
            </header>
            <h3>Titre Event</h3>
            <h4> Nom de la structure </h4>
            <div class> synopsys </div>
    </div>

    <div class="card-stars">
            <header>
           
            </header>
             <h3>Titre Event</h3>
            <h4> Nom de la structure </h4>
            <div class> synopsys </div>
    </div>
</div>
<br><br><br><br><br><br>


<h2 id="filter-section">Tous les projets</h2>
<form>
<input name="title" placeholder="Rechercher un evenement" type=text><br><br>
Filtre | Réinitialisé 
<hr>
<div class="filtre-bar">
    <select name="theme">
        <option value>Thématique</option>
        <option value="1">Sciences de l'environnement (Agronomie, écologie, développement durable)</option>
        <option value="2">Sciences de l'ingénieur</option>
        <option value="3">Sciences de la Terre et de l'univers, de l'espace</option>
        <option value="4">Sciences de la vie et de la santé</option>
        <option value="5">Sciences exactes (Maths, physique, chimie)</option>
        <option value="6">Sciences humaines et sociales</option>
    </select>
    <select name="target">
        <option>Publique ciblé</option>
    </select>
    <select name="difficulty">
        <option>Difficulté</option>
    </select>
    <select name="form">
        <option>Format</option>
    </select>
    <select name="duraction">
        <option>Durée</option>
    </select>
    <select name="territory">
        <option>Territoire</option>
    </select>
</div>
</form>
<br><br>

<div class=card-container>

    <% @projets.each do |projet|%>

    <div class="card">
        <header style="background-image: url(https://picsum.photos/200/200?random=<%=projet.id%>)">
        
            <h3><mark><%= projet.title%></mark></h3>
        </header>
        <main>
            <h4><%= projet.name_structure%></h4>
            Pas d’électricité les jours sans soleil. C’est trop cher. Les panneaux ne se recyclent pas. S’il vous reste quelques idées reçues sur l’énergie photovoltaïque, participez à l’atelier pratique sur le sujet avec l’Hespul. Et, surtout, amusez-vous bien !
        </main>
    </div>

    <%end%>

   
</div>

<br><br>
<div>Charger plus de contenu </div>

<div>