<div  style="margin-top: 18vh !important" class="container mt-5 raw">
<h2>Mentions légales et crédits<h2>
<br>

<h3>CONDITIONS GÉNÉRALES D’UTILISATION</h3>
<br>
Vous êtes actuellement connectés au site internet destiné à publier les projets numériques référencés dans le cadre de la Fête de la science de la région Auvergne-Rhône Alpes.

<h3>EDITEUR</h3>
<br>
COMUE Université de Lyon
<br>92, rue Pasteur – CS30122
<br>69 361 Lyon Cedex O7
<br>France
<br>Tél. +33 (0)4 37 37 26 70
<br>Raison sociale : établissement public à caractère scientifique, culturel et professionnel
<br>
<br>Directeur de la publication : Stéphane Martinot, administrateur provisoire Université de lyon
<br>Responsable éditorial et coordination régionale : Isabelle Bonardi
<br>
<br>Conception et réalisation du site : Collectif OKA
<br>Conception graphique : Clément Payot et Céline Ollivier-Peyrin
<br>Iconographie : Visée.A
<br>Rédaction : FRV100
<br>Développement et intégration : Enzo Léonard
<br>Coordination : Skoli
<br>
<br>Hébergement : Heroku

<h3>CONDITIONS GÉNÉRALES</h3>
<br>
En ayant accès à ce site, l’utilisateur s’engage à se conformer aux présentes conditions générales d’utilisation.

<h3>PROPRIÉTÉ INTELLECTUELLE</h3>
<br>
Tous les textes, photos, vidéos, données, affiches, logos, marques et autres éléments reproduits sur le site et l’application sont réservés et protégés par le droit de la propriété intellectuelle, notamment droits d’auteur, droits voisins et par la législation relative à la protection des bases de données. En conséquence, aucune exploitation, diffusion, reproduction, ou autre utilisation sur ces documents, même partielle, ne peut être faite sans l’autorisation expresse de leur auteur, conformément aux articles L 111-1, L 122-1 et L 122-4 du Code de la Propriété Intellectuelle. Seules sont autorisées les exceptions légales prévues à l’article L 122-5 du Code de la propriété intellectuelle, et notamment la représentation dans le cadre du cercle de famille, la copie privée ou le droit de courte citation (sous réserve dans ce cas que soient indiqués clairement le nom de l’auteur et la source). Tout non-respect de ces dispositions est constitutif de contrefaçon et passible à ce titre de poursuites judiciaires, et notamment de sanctions pénales.

<br>Crédits : 
<br>
<br>001 AIN-Dombes : Par Camster, CC BY-SA 3.0
<br>002 RHONE-Festival Particule : Site festivalparticule.com
<br>003 RHONE-Hespul Solaire : Licence obtenue par Visée.A
<br>004 VetArgoSup : Supprimé
<br>005 RHONE-Planete Demain : Licence obtenue par Visée.A
<br>006 RHONE-VDS Monts du Lyonnais : CNES
<br>007 LOIRE-Explora : Licence obtenue par Visée.A
<br>008 LOIRE-Musique : Licence obtenue par Visée.A
<br>009 LOIRE - Labo Mines : Logo
<br>010 LOIRE - Rotonde : www.larotonde-sciences.com
<br>011 RHONE - Géo Archéologie : Fournie par le PP
<br>012 SAVOIE - Hopital : Licence obtenue par Visée.A
<br>013 RHONE - LudoViro : Visée.A
<br>014 RHONE- Energies Renouvelables : Licence obtenue par Visée.A
<br>015 LOIRE - Rencontres Chercheurs : Licence obtenue par Visée.A
<br>016 LOIRE - A.R.T.S : Licence obtenue par Visée.A
<br>017 RHONE - Voyage au pays des microbes : Licence obtenue par Visée.A
<br>018 RHONE - Epidémies environnement : Licence obtenue par Visée.A
<br>019 RHONE - Infectiologie Lyon : Licence obtenue par Visée.A
<br>020 RHONE - Histoire Epidémies : Domaine Public
<br>021 RHONE - Monde d’après : Licence obtenue par Visée.A
<br>022 RHONE - Espèces de climats : fournie par le PP
<br>023 RHONE - Comprendre le Vivant : Licence obtenue par Visée.A
<br>024 SAVOIE- Géologie : Licence obtenue par Visée.A
<br>025 SAVOIE- Muséum : Licence obtenue par Visée.A
<br>026 ISERE - Laboratoire PACTE : Licence obtenue par Visée.A
<br>027 AUVERGNE - Paléopolis : Licence obtenue par Visée.A
<br>028 à 031+ 038-039 HTE SAVOIE- Cosmos : Licence obtenue par Visée.A
<br>033 ARDECHE - Mycelium : Licence obtenue par Visée.A
<br>035 AUVERGNE - Nuits de la Science : fournie par le PP
<br>036 AUVERGNE - Nuits de la Science : Licence obtenue par Visée.A
<br>037 AUVERGNE - Puy de Science : Licence obtenue par Visée.A
<br>040 HTE SAVOIE - Battle BD : Licence obtenue par Visée.A
<br>041 HTE SAVOIE - Ressources : @ Jim Jourdane
<br>042 HTE SAVOIE Animaux Sauvages de Hte Savoie : Licence obtenue par Visée.A
<br>043 HTE SAVOIE - On est pas bien là? : fournie par le PP
<br>044-045 RHONE - Réseau futur : Licence obtenue par Visée.A
<br>046 ARDECHE - Spiruline : Licence obtenue par Visée.A
<br>047 ISERE - Soirée Pyjama Einstein : Domaine Public
<br>048 AIN - Au coeur de la ruche : Licence obtenue par Visée.A
<br>049 RHONE - Vds ENS : Licence obtenue par Visée.A
<br>050 ISERE - Podcast Université Grenoble : Licence obtenue par Visée.A
<br>051 ISERE - Instagram : Licence obtenue par Visée.A
<br>052 ISERE - Images Mystère : Nicolas Harmand, David Pereira, Sylvie Hénon, Laboratoire Matière et Systèmes complexes (CNRS / Université Paris Diderot),2017
<br>053-054 ISERE - Un(e) Scientifique dans mon salon : Licence obtenue par Visée.A
<br>055 ISERE - Twitch Jeu Video : Licence obtenue par Visée.A
<br>056 ISERE - Sélection Livre : Licence obtenue par Visée.A
<br>057 ISERE - Sain et Sauf : Licence obtenue par Visée.A
<br>058 HTE SAVOIE - Innovations : IUT d’Annecy
<br>059 HTE SAVOIE - Nicolas Tesla : Domaine Public

<h3>RESPONSABILITÉ</h3>
<br>
L’Université de Lyon s’efforce d’offrir aux utilisateurs l’information la plus fiable et qualitative qui soit. L’Université de Lyon ne garantit cependant pas l’exactitude et l’exhaustivité de l’information diffusée sur le Site. Elle ne saurait donc être tenue pour responsable des dommages directs ou indirects, subis par les utilisateurs ou par des tiers qui trouveraient leur source dans l’information diffusée sur le site et de manière plus générale, dans la consultation et l’utilisation du Portail. L’Université de Lyon propose sur le site des actions Fête de la science, réalisées par des porteurs de projet responsables de leurs réalisations. Son rôle consiste dans la présentation des programmes Fête de la science en région Auvergne-Rhône Alpes et dans la mise en relation entre les Utilisateurs, les dits porteurs de projets et les coordinations départementales. L’Université de Lyon ne saurait dans ces conditions être tenue pour responsable des dommages directs ou indirects, subis par les Utilisateurs ou par des tiers qui trouveraient leur source dans les services proposés sur le site, ainsi que dans la relation éventuellement engagée avec les autres acteurs.

<h3>LIENS HYPERTEXTES</h3>
<br>
L’Université de Lyon n’exerce aucune surveillance sur les sites reliés au Portail par le biais de liens hypertextes, et décline toute responsabilité liée à ces sites et leurs contenus. L’Université de Lyon se réserve le droit de solliciter la suppression d’un lien figurant vers un site qu’elle estime contraire à son image.

<h3>DONNÉES PERSONNELLES</h3>
<br>
Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, ce site - qui ne collecte pas de données personnelles - n'a pas fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).

<h3>PARTENAIRES</h3>
<br>
Le site internet dédié aux programmes de la Fête de la science en région Auvergne-Rhône Alpes est une opération nationale financé par le Ministère de l’enseignement supérieur et de la recherche et de la région Auvergne-Rhône Alpes.
<div>